<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <div style="position:relative">  
              <span class="icon"><i class="fa fa-home"></i></span>
              <strong>~/acizmarik</strong>
            </div>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    
      <div id="mainNavbar" class="navbar-menu">
        <!-- Left menu is empty -->
        <div class="navbar-start">    
           
        </div>
        <!-- Right menu (collapsible) -->
        <div class="navbar-end">
            <a class="navbar-item" href="/projects">
                <div style="position:relative">
                    <span class="icon"><i class="fa fa-code"></i></span>
                    <strong>Projects</strong>
                </div>
            </a>
            <a class="navbar-item" href="https://github.com/acizmarik">
                <div style="position:relative">  
                    <span class="icon"><i class="fa fa-github"></i></span>
                    <strong>GitHub</strong>
                </div>
            </a>
            <a class="navbar-item" href="/about">
                <div style="position:relative">  
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <strong>About</strong>
                </div>
            </a>
        </div>
      </div>
</nav>