<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <p class="icon image is-64x64">
            <i class="fa fa-code fa-4x"></i>
        </p>
      </div>
      <div class="media-right">
        <p class="title is-4">SharpDetect</p>
        <p class="subtitle is-6">
            Personal</br>
            <a href="https://gitlab.com/acizmarik/sharpdetect">Read more</a>
        </p>
      </div>
    </div>
    <span class="tag is-primary">IL-rewriting</span>
    <span class="tag is-primary">Code Analysis</span>
    <span class="tag is-primary">.NET</span>
    <span class="tag is-primary">C++</span>
  </div>
</div>
</br>
        
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <p class="image is-64x64">
          <img src="/img/dotvvm.png" alt="Placeholder image">
        </p>
      </div>
      <div class="media-right">
        <p class="title is-4">DotVVM</p>
        <p class="subtitle is-6">
            Contract @ RIGANTI s.r.o.</br>
            <a href="https://github.com/riganti/dotvvm">Read more</a>
        </p>
      </div>
    </div>
    <span class="tag is-primary">MVVM</span>
    <span class="tag is-primary">ASP.NET</span>
    <span class="tag is-primary">.NET</span>
    <span class="tag is-primary">Web</span>
  </div>
</div>
</br>
    
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <p class="icon image is-64x64">
            <i class="fa fa-microchip fa-4x"></i>
        </p>
      </div>
      <div class="media-right">
        <p class="title is-4">Robo-RoboRally</p>
        <p class="subtitle is-6">
            Student @ MFF.CUNI.CZ</br>
            <a href="https://gitlab.com/roboroborally">Read more</a>
        </p>
      </div>
    </div>
    <span class="tag is-primary">AVR MCU</span>
    <span class="tag is-primary">Electronics</span>
    <span class="tag is-primary">C</span>
    <span class="tag is-primary">.NET</span>
  </div>
</div>