name: GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.131.0'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install page dependencies
        run: npm install

      - name: Build
        run: |
          npm run css-minify
          hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: acizmarik.com
